In [1]:
# given a list of DCs, and a wrong repair(hand-picked), return the responsibility of the DCs

### 1. run holoclean and return wrongly repaired cells

In [2]:
from examples.holoclean_repair_example_author import main
import psycopg2
import pandas as pd
import copy
pd.set_option('display.max_rows', None)

In [3]:
# connection to db 
conn = psycopg2.connect(dbname="holo", user="holocleanuser", password="abcd1234")
cols = ['aid','name','oid','organization']
cur = conn.cursor()
conn.autocommit=True

In [4]:
# drop preexisted repaired records 
select_old_repairs_q = """
SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES 
WHERE TABLE_NAME LIKE 'author_repaired_%' AND TABLE_TYPE = 'BASE TABLE'
"""
cur.execute(select_old_repairs_q)

In [5]:
for records in cur.fetchall():
    drop_q = f"drop table if exists {records[0]}"
    cur.execute(drop_q)

In [6]:
main(initial_training=True)

01:35:02 - [DEBUG] - initiating session with parameters: {'db_user': 'holocleanuser', 'db_pwd': 'abcd1234', 'db_host': 'localhost', 'db_name': 'holo', 'threads': 1, 'timeout': 180000, 'seed': 45, 'learning_rate': 0.001, 'optimizer': 'adam', 'epochs': 10, 'weight_decay': 0.01, 'momentum': 0.0, 'batch_size': 1, 'weak_label_thresh': 0.99, 'domain_thresh_1': 0, 'domain_thresh_2': 0, 'max_domain': 10000, 'cor_strength': 0.6, 'nb_cor_strength': 0.8, 'feature_norm': False, 'weight_norm': False, 'estimator_epochs': 3, 'estimator_batch_size': 32, 'verbose': True, 'bias': False, 'print_fw': True, 'debug_mode': False}
01:35:02 - [ INFO] - Loaded 5012 rows with 25060 cells
01:35:03 - [DEBUG] - Time to create index: 0.00 secs
01:35:03 - [DEBUG] - Time to create index: 0.00 secs
01:35:03 - [DEBUG] - Time to create index: 0.00 secs
01:35:03 - [DEBUG] - Time to create index: 0.00 secs
01:35:03 - [ INFO] - DONE Loading holoclean_hauthor_100_errors.csv
01:35:03 - [DEBUG] - Time to load dataset: 0.30 secs
01:35:03 - [DEBUG] - OPENED constraints file successfully
01:35:03 - [DEBUG] - DONE pre-processing constraint: t1&t2&EQ(t1.organization,t2.organization)&IQ(t1.name,t2.name)&EQ(t1.organization,'university of illinois urbana champaign')&EQ(t2.organization,'university of illinois urbana champaign')
01:35:03 - [DEBUG] - DONE extracting tuples from constraint: t1&t2&EQ(t1.organization,t2.organization)&IQ(t1.name,t2.name)&EQ(t1.organization,'university of illinois urbana champaign')&EQ(t2.organization,'university of illinois urbana champaign')
01:35:03 - [DEBUG] - DONE parsing predicate: EQ(t1.organization,t2.organization)
01:35:03 - [DEBUG] - DONE parsing predicate: IQ(t1.name,t2.name)
01:35:03 - [DEBUG] - DONE parsing predicate: EQ(t1.organization,'university of illinois urbana champaign')
01:35:03 - [DEBUG] - DONE parsing predicate: EQ(t2.organization,'university of illinois urbana champaign')
01:35:03 - [DEBUG] - DONE extracting tuples from constraint: t1."organization"=t2."organization" AND t1."name"<>t2."name" AND t1."organization"='university of illinois urbana champaign' AND t2."organization"='university of illinois urbana champaign'
01:35:03 - [DEBUG] - DONE pre-processing constraint: t1&t2&EQ(t1.organization,t2.organization)&IQ(t1.name,t2.name)
01:35:03 - [DEBUG] - DONE extracting tuples from constraint: t1&t2&EQ(t1.organization,t2.organization)&IQ(t1.name,t2.name)
01:35:03 - [DEBUG] - DONE parsing predicate: EQ(t1.organization,t2.organization)
01:35:03 - [DEBUG] - DONE parsing predicate: IQ(t1.name,t2.name)
01:35:03 - [DEBUG] - DONE extracting tuples from constraint: t1."organization"=t2."organization" AND t1."name"<>t2."name"
01:35:03 - [ INFO] - DONE Loading DCs from author_constraints.txt
01:35:03 - [DEBUG] - Time to load dirty data: 0.02 secs
01:35:03 - [DEBUG] - DONE with Error Detector: NullDetector in 0.02 secs
01:35:03 - [DEBUG] - Preparing to execute 2 queries.
01:35:03 - [DEBUG] - Starting to execute query SELECT t1._tid_ FROM "author" as t1 WHERE t1."organization"='university of illinois urbana champaign' AND EXISTS (SELECT t2._tid_ FROM "author" as t2 WHERE t1."organization"=t2."organization" AND t1."name"<>t2."name" AND t2."organization"='university of illinois urbana champaign') with id 0
01:35:03 - [DEBUG] - Time to execute query with id 0: 0.00 secs
01:35:03 - [DEBUG] - Starting to execute query SELECT t1._tid_ FROM "author" as t1 WHERE   EXISTS (SELECT t2._tid_ FROM "author" as t2 WHERE t1."organization"=t2."organization" AND t1."name"<>t2."name") with id 1
01:35:03 - [DEBUG] - Time to execute query with id 1: 0.00 secs
01:35:03 - [DEBUG] - Time to execute 2 queries: 0.01 secs
01:35:03 - [DEBUG] - DONE with Error Detector: ViolationDetector in 0.03 secs
01:35:03 - [ INFO] - detected 7706 potentially erroneous cells
01:35:04 - [DEBUG] - Time to create index: 0.00 secs
01:35:04 - [ INFO] - DONE with error detection.
01:35:04 - [DEBUG] - Time to detect errors: 0.48 secs
01:35:04 - [DEBUG] - Time to execute query: 0.00 secs
01:35:04 - [DEBUG] - computing frequency and co-occurrence statistics from raw data...
01:35:04 - [DEBUG] - Collecting single/pair-wise statistics...
01:35:05 - [DEBUG] - DONE computing statistics in 0.14s
01:35:05 - [DEBUG] - preparing pruned co-occurring statistics...
100%|██████████| 4/4 [00:00<00:00, 391.51it/s]
01:35:05 - [DEBUG] - DONE with pruned co-occurring statistics in 0.01 secs
01:35:05 - [DEBUG] - generating initial set of un-pruned domain values...
  4%|▍         | 221/5012 [00:00<00:02, 2204.00it/s]

found our example
denominator = 18, domain_thresh_1=0, tau=0.0
top_cands: ['hayri onal', 'nail cadalli']

100%|██████████| 5012/5012 [00:01<00:00, 2604.61it/s]
01:35:07 - [DEBUG] - DONE generating initial set of domain values in 1.98
01:35:07 - [DEBUG] - training posterior model for estimating domain value probabilities...
01:35:07 - [DEBUG] - DONE training posterior model in 0.02s
01:35:07 - [DEBUG] - predicting domain value probabilities from posterior model...
01:35:07 - [DEBUG] - DONE predictions in 0.00 secs, re-constructing cell domain...
01:35:07 - [DEBUG] - re-assembling final cell domain table...
0it [00:00, ?it/s]
1616it [00:00, 16151.51it/s]:00<?, ?it/s]
3680it [00:00, 17278.75it/s][00:00<00:00, 17985.26it/s]
5814it [00:00, 18324.88it/s][00:00<00:00, 18688.64it/s]
7919it [00:00, 19064.93it/s][00:00<00:00, 19744.10it/s]
 82%|████████▏ | 8245/10024 [00:00<00:00, 20141.45it/s]
10024it [00:00, 19595.87it/s][00:00<00:00, 20415.88it/s]
01:35:07 - [DEBUG] - DONE assembling cell domain table in 0.71s
01:35:07 - [ INFO] - number of (additional) weak labels assigned from posterior model: 40
01:35:07 - [DEBUG] - DONE generating domain and weak labels
01:35:08 - [DEBUG] - Time to create index: 0.00 secs
01:35:08 - [DEBUG] - Time to create index: 0.00 secs
01:35:08 - [DEBUG] - Time to create index: 0.00 secs
01:35:09 - [DEBUG] - Time to create table: 0.00 secs
01:35:09 - [DEBUG] - Time to create index: 0.00 secs
01:35:09 - [ INFO] - DONE with domain preparation.
01:35:09 - [DEBUG] - Time to setup the domain: 5.03 secs
01:35:09 - [DEBUG] - Time to execute query: 0.00 secs
01:35:09 - [DEBUG] - Time to execute query: 0.00 secs
01:35:09 - [DEBUG] - Time to execute query: 0.00 secs
01:35:09 - [DEBUG] - Time to execute query: 0.00 secs
01:35:09 - [DEBUG] - Time to execute query: 0.00 secs
01:35:09 - [DEBUG] - featurizing training data...
01:35:09 - [DEBUG] - Time to execute query: 0.01 secs
100%|██████████| 10024/10024 [00:02<00:00, 4758.04it/s]
01:35:11 - [DEBUG] - Time to execute query: 0.01 secs
01:35:12 - [DEBUG] - Preparing to execute 6 queries.
01:35:12 - [DEBUG] - Starting to execute query SELECT _vid_, val_id, count(*) violations FROM   "author" as t1, "author" as t2, pos_values as t3 WHERE  t1._tid_ != t2._tid_   AND  t1._tid_ = t3._tid_   AND  t3.attribute = 'organization'   AND  t1."name"<>t2."name" AND t1."organization"='university of illinois urbana champaign' AND t2."organization"='university of illinois urbana champaign'   AND  t3.rv_val = t2."organization" GROUP BY _vid_, val_id with id 0
01:35:12 - [DEBUG] - Time to execute query with id 0: 0.00 secs
01:35:12 - [DEBUG] - Starting to execute query SELECT _vid_, val_id, count(*) violations FROM   "author" as t1, "author" as t2, pos_values as t3 WHERE  t1._tid_ != t2._tid_   AND  t1._tid_ = t3._tid_   AND  t3.attribute = 'name'   AND  t1."organization"=t2."organization" AND t1."organization"='university of illinois urbana champaign' AND t2."organization"='university of illinois urbana champaign'   AND  t3.rv_val <> t2."name" GROUP BY _vid_, val_id with id 1
01:35:12 - [DEBUG] - Time to execute query with id 1: 0.00 secs
01:35:12 - [DEBUG] - Starting to execute query SELECT _vid_, val_id, count(*) violations FROM   "author" as t1, "author" as t2, pos_values as t3 WHERE  t1._tid_ != t2._tid_   AND  t1._tid_ = t3._tid_   AND  t3.attribute = 'organization'   AND  t1."organization"=t2."organization" AND t1."name"<>t2."name" AND t2."organization"='university of illinois urbana champaign'   AND  t3.rv_val = 'university of illinois urbana champaign' GROUP BY _vid_, val_id with id 2
01:35:12 - [DEBUG] - Time to execute query with id 2: 0.00 secs
01:35:12 - [DEBUG] - Starting to execute query SELECT _vid_, val_id, count(*) violations FROM   "author" as t1, "author" as t2, pos_values as t3 WHERE  t1._tid_ != t2._tid_   AND  t2._tid_ = t3._tid_   AND  t3.attribute = 'organization'   AND  t1."organization"=t2."organization" AND t1."name"<>t2."name" AND t1."organization"='university of illinois urbana champaign'   AND  t3.rv_val = 'university of illinois urbana champaign' GROUP BY _vid_, val_id with id 3
01:35:12 - [DEBUG] - Time to execute query with id 3: 0.00 secs
01:35:12 - [DEBUG] - Starting to execute query SELECT _vid_, val_id, count(*) violations FROM   "author" as t1, "author" as t2, pos_values as t3 WHERE  t1._tid_ != t2._tid_   AND  t1._tid_ = t3._tid_   AND  t3.attribute = 'organization'   AND  t1."name"<>t2."name"   AND  t3.rv_val = t2."organization" GROUP BY _vid_, val_id with id 4
01:35:13 - [DEBUG] - Time to execute query with id 4: 0.01 secs
01:35:13 - [DEBUG] - Starting to execute query SELECT _vid_, val_id, count(*) violations FROM   "author" as t1, "author" as t2, pos_values as t3 WHERE  t1._tid_ != t2._tid_   AND  t1._tid_ = t3._tid_   AND  t3.attribute = 'name'   AND  t1."organization"=t2."organization"   AND  t3.rv_val <> t2."name" GROUP BY _vid_, val_id with id 5
01:35:15 - [DEBUG] - Time to execute query with id 5: 0.02 secs
01:35:15 - [DEBUG] - Time to execute 6 queries: 0.05 secs
01:35:15 - [DEBUG] - DONE featurization.
01:35:15 - [DEBUG] - generating weak labels...
01:35:15 - [DEBUG] - Time to execute query: 0.05 secs
100%|██████████| 4842/4842 [00:00<00:00, 62257.08it/s]
01:35:15 - [DEBUG] - DONE generating weak labels.
01:35:15 - [DEBUG] - generating mask...
01:35:15 - [DEBUG] - Time to execute query: 0.01 secs
100%|██████████| 10024/10024 [00:00<00:00, 92653.19it/s]
01:35:16 - [DEBUG] - DONE generating mask.
01:35:16 - [ INFO] - DONE setting up featurized dataset.
01:35:16 - [DEBUG] - Time to featurize data: 4.32 secs
01:35:16 - [ INFO] - DONE setting up repair model.
01:35:16 - [DEBUG] - Time to setup repair model: 4.32 secs
01:35:16 - [ INFO] - training with 4842 training examples (cells)
  0%|          | 0/10 [00:00<?, ?it/s]01:35:18 - [DEBUG] - Epoch 1, cost = 0.155697, acc = 99.73%
 10%|█         | 1/10 [00:01<00:17,  1.92s/it]01:35:20 - [DEBUG] - Epoch 2, cost = 0.031404, acc = 99.73%
 20%|██        | 2/10 [00:03<00:15,  1.95s/it]01:35:22 - [DEBUG] - Epoch 3, cost = 0.028822, acc = 99.73%
 30%|███       | 3/10 [00:06<00:14,  2.07s/it]01:35:25 - [DEBUG] - Epoch 4, cost = 0.028686, acc = 99.73%
 40%|████      | 4/10 [00:09<00:14,  2.42s/it]01:35:28 - [DEBUG] - Epoch 5, cost = 0.028680, acc = 99.73%
 50%|█████     | 5/10 [00:12<00:12,  2.51s/it]01:35:31 - [DEBUG] - Epoch 6, cost = 0.028680, acc = 99.73%
 60%|██████    | 6/10 [00:15<00:10,  2.59s/it]01:35:33 - [DEBUG] - Epoch 7, cost = 0.028680, acc = 99.73%
 70%|███████   | 7/10 [00:17<00:07,  2.64s/it]01:35:36 - [DEBUG] - Epoch 8, cost = 0.028680, acc = 99.73%
 80%|████████  | 8/10 [00:20<00:05,  2.57s/it]01:35:38 - [DEBUG] - Epoch 9, cost = 0.028680, acc = 99.73%
 90%|█████████ | 9/10 [00:22<00:02,  2.54s/it]01:35:41 - [DEBUG] - Epoch 10, cost = 0.028680, acc = 99.73%
100%|██████████| 10/10 [00:25<00:00,  2.53s/it]
01:35:41 - [ INFO] - DONE training repair model.
01:35:41 - [DEBUG] - Time to fit repair model: 26.14 secs
01:35:41 - [ INFO] - inferring on 7706 examples (cells)
01:35:41 - [DEBUG] - Time to execute query: 0.11 secs
01:35:42 - [DEBUG] - Time to create index: 0.00 secs
01:35:43 - [DEBUG] - Time to create index: 0.00 secs
01:35:43 - [ INFO] - DONE inferring repairs.
01:35:43 - [DEBUG] - Time to infer correct cell values: 1.28 secs
01:35:43 - [DEBUG] - Time to create table: 0.00 secs
01:35:43 - [DEBUG] - Time to create index: 0.00 secs
01:35:43 - [DEBUG] - Time to create index: 0.00 secs
01:35:43 - [ INFO] - DONE collecting the inferred values.
01:35:43 - [DEBUG] - Time to collect inferred values: 0.03 secs
01:35:44 - [ INFO] - DONE generating repaired dataset
01:35:44 - [DEBUG] - Time to store repaired dataset: 0.27 secs
01:35:44 - [ INFO] - featurizer InitAttrFeaturizer,size 4,max 1.0000,min 1.0000,avg 1.0000,abs_avg 1.0000,weights:
aid 1.0
name 1.0
oid 1.0
organization 1.0
featurizer OccurAttrFeaturizer,size 16,max 1.2328,min -0.0000,avg 0.3985,abs_avg 0.3985,weights:
aid X aid 0.0
aid X name 0.0
aid X oid -0.0
aid X organization 0.0
name X aid 0.906
name X name -0.0
name X oid 0.876
name X organization 0.906
oid X aid -0.0
oid X name -0.0
oid X oid -0.0
oid X organization -0.0
organization X aid 1.228
organization X name 1.228
organization X oid 1.233
organization X organization 0.0
featurizer FreqFeaturizer,size 4,max 0.0006,min -0.0000,avg 0.0002,abs_avg 0.0002,weights:
aid -0.0
name 0.0
oid 0.0
organization 0.001
featurizer ConstraintFeaturizer,size 6,max 0.0809,min -0.4025,avg -0.0231,abs_avg 0.1111,weights:
fixed pred: t1."name"<>t2."name" AND t1."organization"='university of illinois urbana champaign' AND t2."organization"='university of illinois urbana champaign', violation pred: t1."organization"=t2."organization" 0.061
fixed pred: t1."organization"=t2."organization" AND t1."organization"='university of illinois urbana champaign' AND t2."organization"='university of illinois urbana champaign', violation pred: t1."name"<>t2."name" -0.0
fixed pred: t1."organization"=t2."organization" AND t1."name"<>t2."name" AND t2."organization"='university of illinois urbana champaign', violation pred: t1."organization"='university of illinois urbana champaign' 0.061
fixed pred: t1."organization"=t2."organization" AND t1."name"<>t2."name" AND t1."organization"='university of illinois urbana champaign', violation pred: t2."organization"='university of illinois urbana champaign' 0.061
fixed pred: t1."name"<>t2."name", violation pred: t1."organization"=t2."organization" 0.081
fixed pred: t1."organization"=t2."organization", violation pred: t1."name"<>t2."name" -0.402

01:35:44 - [DEBUG] - Time to store featurizer weights: 0.00 secs
01:35:46 - [DEBUG] - Time to create index: 0.00 secs
01:35:46 - [DEBUG] - Time to create index: 0.00 secs
01:35:46 - [ INFO] - DONE Loading holoclean_hauthor_clean_100_errors_analysis.csv
01:35:46 - [DEBUG] - Time to evaluate repairs: 0.83 secs
01:35:46 - [DEBUG] - Time to execute query: 0.00 secs
01:35:46 - [DEBUG] - Time to execute query: 0.00 secs
01:35:46 - [DEBUG] - Preparing to execute 4 queries.
01:35:46 - [DEBUG] - Starting to execute query SELECT count(*) FROM  "author" as t1, "author_clean" as t2 WHERE t1._tid_ = t2._tid_   AND t2._attribute_ = 'aid'   AND t1."aid" != t2._value_ with id 0
01:35:46 - [DEBUG] - Time to execute query with id 0: 0.00 secs
01:35:46 - [DEBUG] - Starting to execute query SELECT count(*) FROM  "author" as t1, "author_clean" as t2 WHERE t1._tid_ = t2._tid_   AND t2._attribute_ = 'name'   AND t1."name" != t2._value_ with id 1
01:35:46 - [DEBUG] - Time to execute query with id 1: 0.00 secs
01:35:46 - [DEBUG] - Starting to execute query SELECT count(*) FROM  "author" as t1, "author_clean" as t2 WHERE t1._tid_ = t2._tid_   AND t2._attribute_ = 'oid'   AND t1."oid" != t2._value_ with id 2
01:35:46 - [DEBUG] - Time to execute query with id 2: 0.00 secs
01:35:46 - [DEBUG] - Starting to execute query SELECT count(*) FROM  "author" as t1, "author_clean" as t2 WHERE t1._tid_ = t2._tid_   AND t2._attribute_ = 'organization'   AND t1."organization" != t2._value_ with id 3
01:35:46 - [DEBUG] - Time to execute query with id 3: 0.00 secs
01:35:46 - [DEBUG] - Time to execute 4 queries: 0.02 secs
01:35:46 - [DEBUG] - Time to execute query: 0.00 secs
01:35:46 - [DEBUG] - Preparing to execute 4 queries.
01:35:46 - [DEBUG] - Starting to execute query SELECT COUNT(*) FROM   (SELECT t2._tid_, t2._attribute_, t2._value_      FROM "author" as t1, "author_clean" as t2     WHERE t1._tid_ = t2._tid_       AND t2._attribute_ = 'aid'       AND t1."aid" != t2._value_ ) as errors, inf_values_dom as repairs WHERE errors._tid_ = repairs._tid_   AND errors._attribute_ = repairs.attribute   AND errors._value_ = repairs.rv_value with id 0
01:35:46 - [DEBUG] - Time to execute query with id 0: 0.00 secs
01:35:46 - [DEBUG] - Starting to execute query SELECT COUNT(*) FROM   (SELECT t2._tid_, t2._attribute_, t2._value_      FROM "author" as t1, "author_clean" as t2     WHERE t1._tid_ = t2._tid_       AND t2._attribute_ = 'name'       AND t1."name" != t2._value_ ) as errors, inf_values_dom as repairs WHERE errors._tid_ = repairs._tid_   AND errors._attribute_ = repairs.attribute   AND errors._value_ = repairs.rv_value with id 1
01:35:46 - [DEBUG] - Time to execute query with id 1: 0.00 secs
01:35:46 - [DEBUG] - Starting to execute query SELECT COUNT(*) FROM   (SELECT t2._tid_, t2._attribute_, t2._value_      FROM "author" as t1, "author_clean" as t2     WHERE t1._tid_ = t2._tid_       AND t2._attribute_ = 'oid'       AND t1."oid" != t2._value_ ) as errors, inf_values_dom as repairs WHERE errors._tid_ = repairs._tid_   AND errors._attribute_ = repairs.attribute   AND errors._value_ = repairs.rv_value with id 2
01:35:46 - [DEBUG] - Time to execute query with id 2: 0.00 secs
01:35:46 - [DEBUG] - Starting to execute query SELECT COUNT(*) FROM   (SELECT t2._tid_, t2._attribute_, t2._value_      FROM "author" as t1, "author_clean" as t2     WHERE t1._tid_ = t2._tid_       AND t2._attribute_ = 'organization'       AND t1."organization" != t2._value_ ) as errors, inf_values_dom as repairs WHERE errors._tid_ = repairs._tid_   AND errors._attribute_ = repairs.attribute   AND errors._value_ = repairs.rv_value with id 3
01:35:46 - [DEBUG] - Time to execute query with id 3: 0.00 secs
01:35:46 - [DEBUG] - Time to execute 4 queries: 0.02 secs
01:35:46 - [DEBUG] - Time to execute query: 0.00 secs
01:35:46 - [DEBUG] - weak label statistics:
01:35:46 - [DEBUG] -    is_clean  cell_status  is_inferred  init = grdth init = inferred  \
0  False     0            True         False         False
1  False     0            True         False         True
2  False     0            True         True          True
3  False     1            True         True          False
4  False     2            True         True          True
5  True      0            False        False         None
6  True      0            False        True          None
7  True      1            False        False         None
8  True      2            False        True          None

   w. label = init  w. label = grdth w. label = inferred infer = grdth  count
0  True             False             False               True          6
1  True             False             True                False         16
2  True             True              True                True          5160
3  False            False             True                False         1
4  True             True              True                True          2523
5  True             False             None                None          13
6  True             True              None                None          91
7  False            True              None                None          39
8  True             True              None                None          2175
01:35:46 - [ INFO] - Precision = 0.86, Recall = 0.06, Repairing Recall = 0.27, F1 = 0.11, Repairing F1 = 0.41, Detected Errors = 22, Total Errors = 100, Correct Repairs = 6, Total Repairs = 7, Total Repairs on correct cells (Grdth present) = 1, Total Repairs on incorrect cells (Grdth present) = 6
01:35:46 - [DEBUG] - Time to generate report: 0.07 secs

In [7]:
### 2. run holoclean and return wrongly repaired ddcells

In [8]:
union_sql = """
SELECT 'before_clean' AS type, * from  author
union all 
SELECT 'after_clean' AS type, * from author_repaired
order by _tid_
"""
df_union_before_and_after = pd.read_sql(union_sql, conn)

In [9]:
df_union_before_and_after

,type,_tid_,aid,name,oid,organization
0,before_clean,0,1,ricardo del corazon grau-abalo,16771,universidad central marta abreu de la villas
1,after_clean,0,1,ricardo del corazon grau-abalo,16771,universidad central marta abreu de la villas
2,before_clean,1,2,nieves abalos,17015,universidad de granada
3,after_clean,1,2,nieves abalos,17015,universidad de granada
4,before_clean,2,4,erika abraham,14771,rheinisch westfalische technische hochschule a...
5,after_clean,2,4,erika abraham,14771,rheinisch westfalische technische hochschule a...
6,before_clean,3,5,bernardo m. abrego,6627,california state university northridge
7,after_clean,3,5,bernardo m. abrego,6627,california state university northridge
8,after_clean,4,8,gergely acs,21395,laboratory of cryptography and systems security
9,before_clean,4,8,gergely acs,21395,laboratory of cryptography and systems security
10,after_clean,5,10,sandor acs,1599,university of helsinki
11,before_clean,5,10,sandor acs,1599,university of helsinki
12,before_clean,6,12,norbert adam,16484,technical university of kosice
13,after_clean,6,12,norbert adam,16484,technical university of kosice
14,before_clean,7,17,csilla agoston,7429,eotvos lorand university (university of budapest)
15,after_clean,7,17,csilla agoston,7429,eotvos lorand university (university of budapest)
16,after_clean,8,20,vilmos agoston,2249,hungarian academy of sciences
17,before_clean,8,20,vilmos agoston,2249,hungarian academy of sciences
18,before_clean,9,23,hugo aguas,3666,universidade nova de lisboa
19,after_clean,9,23,hugo aguas,3666,universidade nova de lisboa
20,after_clean,10,27,hleidmti,16585,universidad de almería
21,before_clean,10,27,hleidmti,16585,universidad de almería
22,before_clean,11,31,jose m. del alamo,16353,universidad politécnica de madrid
23,after_clean,11,31,jose m. del alamo,16353,universidad politécnica de madrid
24,after_clean,12,32,jose m. reyes alamo,10102,iowa state university
25,before_clean,12,32,jose m. reyes alamo,10102,iowa state university
26,before_clean,13,33,juan c. del alamo,446,harvard university
27,after_clean,13,33,juan c. del alamo,446,harvard university
28,after_clean,14,43,aitor alvarez,2901,universidad del país vasco
29,before_clean,14,43,aitor alvarez,2901,universidad del país vasco
...,...,...,...,...,...,...
9994,before_clean,4997,2188,sverre aam,16754,university of chicago
9995,after_clean,4997,2188,sverre aam,16754,university of chicago
9996,after_clean,4998,2189,bahar aameri,16371,university of toronto
9997,before_clean,4998,2189,bahar aameri,16371,university of toronto
9998,after_clean,4999,2192,ole morten aamo,13557,norwegian university of science & technology
9999,before_clean,4999,2192,ole morten aamo,13557,norwegian university of science & technology
10000,after_clean,5000,1156,hayri onal,687,university of illinois urbana champaign
10001,before_clean,5000,1156,hayri onal,687,university of illinois urbana champaign
10002,after_clean,5001,1156,hayri onal,687,university of illinois urbana champaign
10003,before_clean,5001,1156,hayri onal,687,university of illinois urbana champaign
10004,before_clean,5002,1156,hayri onal,687,university of illinois urbana champaign
10005,after_clean,5002,1156,hayri onal,687,university of illinois urbana champaign
10006,before_clean,5003,1156,hayri onal,687,university of illinois urbana champaign
10007,after_clean,5003,1156,hayri onal,687,university of illinois urbana champaign
10008,after_clean,5004,1156,hayri onal,687,university of illinois urbana champaign
10009,before_clean,5004,1156,hayri onal,687,university of illinois urbana champaign
10010,before_clean,5005,1156,hayri onal,687,university of illinois urbana champaign
10011,after_clean,5005,1156,hayri onal,687,university of illinois urbana champaign
10012,before_clean,5006,1156,hayri onal,687,university of illinois urbana champaign
10013,after_clean,5006,1156,hayri onal,687,university of illinois urbana champaign
10014,after_clean,5007,1156,hayri onal,687,university of illinois urbana champaign
10015,before_clean,5007,1156,hayri onal,687,university of illinois urbana champaign
10016,before_clean,5008,1156,hayri onal,687,university of illinois urbana champaign
10017,after_clean,5008,1156,hayri onal,687,university of illinois urbana champaign
10018,after_clean,5009,1156,hayri onal,687,university of illinois urbana champaign
10019,before_clean,5009,1156,hayri onal,687,university of illinois urbana champaign
10020,before_clean,5010,1156,hayri onal,687,university of illinois urbana champaign
10021,after_clean,5010,1156,hayri onal,687,university of illinois urbana champaign
10022,after_clean,5011,1156,hayri onal,687,university of illinois urbana champaign
10023,before_clean,5011,1156,hayri onal,687,university of illinois urbana champaign

In [10]:
j = 0
for i in range(0,5000):
    if(j%100==0):
        print(j)
    j+=1
    df_row = pd.DataFrame(columns=['type']+cols)
    df_row.loc[0,'type'] = 'ground_truth'
    df_row.loc[0,'_tid_'] = i
    q = f"""
    SELECT * FROM author_clean WHERE _tid_={i} 
    """
    df_for_one_row = pd.read_sql(q,conn)
    for index, row in df_for_one_row.iterrows():
        df_row.loc[0, f"{row['_attribute_']}"] = row['_value_']
    df_union_before_and_after = df_union_before_and_after.append(df_row, ignore_index=True)

/home/jayli/Desktop/holo_env/lib/python3.6/site-packages/pandas/core/frame.py:6692: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900

In [11]:
repaired_dict = {x:[] for x in cols}

In [12]:
# iterate this dataframe to find all wrong predictions and list them to choose
grouped = df_union_before_and_after.groupby('_tid_')
k = 0

for name, group in grouped:
    tid = pd.to_numeric(group.iloc[0]['_tid_'], downcast="integer")
    if(k%100==0):
        print(k)
    for c in cols:
        if(group[group['type']=='after_clean'][c].to_string(index=False)\
           != group[group['type']=='before_clean'][c].to_string(index=False)):
            repaired_dict[c].append(tid)
    k+=1

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000

In [13]:
repaired_dict

{'aid': [],
 'name': [76.0, 200.0, 364.0, 825.0, 931.0, 939.0, 983.0],
 'oid': [],
 'organization': []}

In [14]:
repaired_hospital=df_union_before_and_after[df_union_before_and_after['_tid_'].isin(repaired_dict['name'])]

In [15]:
repaired_hospital.sort_values(by=['_tid_','type']).reset_index()

,index,_tid_,aid,name,oid,organization,type
0,152,76.0,165,josue alvarez-borrego,20393,universidad autónoma de baja california,after_clean
1,153,76.0,165,dxplxkvv,20393,universidad autónoma de baja california,before_clean
2,10100,76.0,165,josue alvarez-borrego,20393,universidad autónoma de baja california,ground_truth
3,401,200.0,1156,hayri onal,687,university of illinois urbana champaign,after_clean
4,400,200.0,1156,nail cadalli,687,university of illinois urbana champaign,before_clean
5,10224,200.0,1156,nail cadalli,687,university of illinois urbana champaign,ground_truth
6,729,364.0,764,baris ciftci,18638,university of tilburg,after_clean
7,728,364.0,764,zlirxbnx,18638,university of tilburg,before_clean
8,10388,364.0,764,baris ciftci,18638,university of tilburg,ground_truth
9,1650,825.0,1767,erdinc ozturk,19154,worcester polytechnic institute,after_clean
10,1651,825.0,1767,jdynawds,19154,worcester polytechnic institute,before_clean
11,10849,825.0,1767,erdinc ozturk,19154,worcester polytechnic institute,ground_truth
12,1862,931.0,1983,seydi vakkas ustun,4243,adiyaman university,after_clean
13,1863,931.0,1983,vblnsxwn,4243,adiyaman university,before_clean
14,10955,931.0,1983,seydi vakkas ustun,4243,adiyaman university,ground_truth
15,1878,939.0,2041,a. a'campo-neuen,17629,university of konstanz,after_clean
16,1879,939.0,2041,tjzbhhex,17629,university of konstanz,before_clean
17,10963,939.0,2041,a. a'campo-neuen,17629,university of konstanz,ground_truth
18,1967,983.0,2157,v. aalo,8385,florida atlantic university,after_clean
19,1966,983.0,2157,jslplxbr,8385,florida atlantic university,before_clean
20,11007,983.0,2157,v. aalo,8385,florida atlantic university,ground_truth

In [16]:
wrong_dict = {x:[] for x in cols}

In [17]:
# iterate this dataframe to find all wrong predictions and list them to choose
grouped = df_union_before_and_after.groupby('_tid_')
k = 0

for name, group in grouped:
    tid = pd.to_numeric(group.iloc[0]['_tid_'], downcast="integer")
    if(k%100==0):
        print(k)
    for c in cols:
        if((group[group['type']=='after_clean'][c].to_string(index=False)\
           != group[group['type']=='ground_truth'][c].to_string(index=False)\
           ) and (group[group['type']=='after_clean'][c].to_string(index=False)\
           != group[group['type']=='before_clean'][c].to_string(index=False))):
            wrong_dict[c].append(tid)
    k+=1

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000

In [18]:
wrong_dict

{'aid': [], 'name': [200.0], 'oid': [], 'organization': []}

In [19]:
wrong_cities=df_union_before_and_after[df_union_before_and_after['_tid_'].isin(wrong_dict['HospitalName'])]

KeyError: 'HospitalName'

In [ ]:
wrong_cities

In [ ]:
wrong_cities.sort_values(by=['_tid_','type','HospitalOwner'], inplace=True)

In [ ]:
wrong_cities[['HospitalOwner','HospitalName', '_tid_', 'type']]

In [ ]:
wrong_dict

In [ ]:
wrong_dict['City']

In [ ]:
df_union_before_and_after

In [ ]:
wrong_cities

In [ ]:
conn.close()

### given an attribute and a tid (row id), find responsible rule(s)

In [ ]:
# import hc_responsibility
# hc_responsibility.rule_responsibility(attr_name='PhoneNumber', tid=381)

In [ ]:
# conn = psycopg2.connect(dbname="holo", user="holocleanuser", password="abcd1234")

### result after deleting 
    t1&t2&EQ(t1.HospitalName,t2.HospitalName)&IQ(t1.PhoneNumber,t2.PhoneNumber)
    AND 
    t1&t2&EQ(t1.HospitalName,t2.HospitalName)&IQ(t1.ZipCode,t2.ZipCode)

fixing using :

    t1&t2&EQ(t1.HospitalName,t2.HospitalName)&IQ(t1.ProviderNumber,t2.ProviderNumber)
    AND
    t1&t2&EQ(t1.HospitalName,t2.HospitalName)&EQ(t1.PhoneNumber,t2.PhoneNumber)&EQ(t1.HospitalOwner,t2.HospitalOwner)&IQ(t1.State,t2.State)

In [ ]:
# q_2 = """
# select * from hospital_repaired_2 where "Address1" = '2451 fillingim street'
# """
# df_repaired_2 = pd.read_sql(q_2, conn)

In [ ]:
# df_repaired_2

### result after deleting 
    t1&t2&EQ(t1.HospitalName,t2.HospitalName)&EQ(t1.PhoneNumber,t2.PhoneNumber)&EQ(t1.HospitalOwner,t2.HospitalOwner)&IQ(t1.State,t2.State)
    fixing using :
    t1&t2&EQ(t1.HospitalName,t2.HospitalName)&IQ(t1.PhoneNumber,t2.PhoneNumber)
    AND 
    t1&t2&EQ(t1.HospitalName,t2.HospitalName)&IQ(t1.ZipCode,t2.ZipCode)
    AND 
    t1&t2&EQ(t1.HospitalName,t2.HospitalName)&IQ(t1.ProviderNumber,t2.ProviderNumber)

In [ ]:
# q_6 = """
# select * from hospital_repaired_6 where "Address1" = '2451 fillingim street'
# """
# df_repaired_6 = pd.read_sql(q_6, conn)

In [ ]:
# df_repaired_6