In [8]:
import psycopg2
import pandas as pd

In [10]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                              'Parrot', 'Parrot'],
                   'Max Speed': [380., 370., 24., 26.],
                  'blah':[1,2,1,2]})

In [11]:
df

   Animal  Max Speed  blah
0  Falcon      380.0     1
1  Falcon      370.0     2
2  Parrot       24.0     1
3  Parrot       26.0     2

In [12]:
dfs = [x for _, x in df.groupby(['Animal','blah'])]

In [13]:
dfs

[   Animal  Max Speed  blah
 0  Falcon      380.0     1,
    Animal  Max Speed  blah
 1  Falcon      370.0     2,
    Animal  Max Speed  blah
 2  Parrot       24.0     1,
    Animal  Max Speed  blah
 3  Parrot       26.0     2]