In [42]:
l = [1,2,3,4,5,6,7,8,9,10,11]

In [56]:
l.remove(1)

In [57]:
l

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [43]:
import random
def random_subset(s):
    out = set()
    for el in s:                                                                                                                    
        # random coin flip
        if(random.random()<=1/len(s)):
            out.add(el)
    return out

In [44]:
for i in range(0,3):
    print(random_subset(l))

{11, 4}
{4}
{3}

In [47]:
import psycopg2
conn = psycopg2.connect(dbname='holo', user='holocleanuser')

In [48]:
cur = conn.cursor()

In [53]:
cur.execute("select _tid_ from adult_pruned")

[139,
 257,
 55,
 483,
 219,
 296,
 81,
 456,
 405,
 416,
 53,
 246,
 453,
 136,
 357,
 451,
 112,
 122,
 365,
 304,
 18,
 188,
 230,
 282,
 272,
 182,
 146,
 162,
 244,
 7,
 242,
 89,
 430,
 190,
 435,
 225,
 111,
 275,
 436,
 249,
 388,
 208,
 404,
 391,
 234,
 213,
 201,
 79,
 24,
 426,
 472,
 113,
 490,
 197,
 399,
 145,
 278,
 33,
 263,
 88,
 358,
 477,
 281,
 148,
 478,
 316,
 240,
 468,
 237,
 138,
 150,
 176,
 60,
 495,
 462,
 394,
 216,
 184,
 443,
 49,
 332,
 469,
 167,
 425,
 452,
 41,
 390,
 273,
 290,
 130,
 309,
 143,
 3,
 177,
 48,
 277,
 285,
 58,
 423,
 119,
 268,
 397,
 401,
 124,
 62,
 479,
 446,
 151,
 289,
 377,
 52,
 413,
 56,
 369,
 321,
 226,
 140,
 84,
 125,
 16,
 74,
 465,
 203,
 120,
 90,
 129,
 428,
 121,
 382,
 361,
 103,
 366,
 467,
 239,
 484,
 227,
 181,
 66,
 6,
 194,
 376,
 352,
 333,
 76,
 22,
 457,
 232,
 251,
 44,
 491,
 363,
 123,
 63,
 383,
 166,
 303,
 236,
 172,
 28,
 267,
 493,
 326,
 192,
 261,
 222,
 209,
 348,
 276,
 30,
 395,
 248,
 132,
 27,
 258,
 175,
 459,
 93,
 302,
 202,
 99,
 78,
 328,
 475,
 341,
 71,
 37,
 185,
 40,
 412,
 324,
 372,
 355,
 295,
 238,
 212,
 385,
 134,
 381,
 204,
 9,
 43,
 360,
 287,
 228,
 492,
 439,
 235,
 259,
 31,
 144,
 480,
 498,
 400,
 378,
 199,
 442,
 98,
 406,
 323,
 118,
 108,
 95,
 11,
 421,
 34,
 340,
 311,
 211,
 362,
 83,
 173,
 368,
 21,
 186,
 256,
 147,
 117,
 450,
 342,
 308,
 286,
 128,
 344,
 102,
 402,
 264,
 107,
 392,
 39,
 262,
 445,
 75,
 45,
 481,
 489,
 183,
 92,
 12,
 91,
 65,
 293,
 482,
 411,
 221,
 191,
 379,
 13,
 253,
 485,
 198,
 354,
 10,
 330,
 434,
 153,
 170,
 431,
 310,
 351,
 336,
 17,
 271,
 447,
 158,
 14,
 398,
 403,
 156,
 455,
 200,
 473,
 414,
 335,
 269,
 337,
 393,
 387,
 458,
 159,
 114,
 454,
 47,
 432,
 410,
 407,
 420,
 70,
 215,
 229,
 422,
 325,
 270,
 86,
 233,
 364,
 384,
 15,
 4,
 424,
 25,
 2,
 339,
 255,
 494,
 135,
 72,
 345,
 334,
 247,
 486,
 127,
 0,
 371,
 187,
 292,
 104,
 205,
 463,
 429,
 87,
 476,
 318,
 331,
 149,
 274,
 157,
 218,
 189,
 375,
 314,
 26,
 409,
 317,
 280,
 466,
 206,
 214,
 116,
 488,
 471,
 67,
 306,
 299,
 85,
 260,
 51,
 265,
 32,
 460,
 96,
 20,
 343,
 54,
 417,
 315,
 195,
 327,
 350,
 46,
 346,
 168,
 359,
 252,
 440,
 100,
 497,
 178,
 374,
 396,
 80,
 415,
 223,
 105,
 474,
 338,
 243,
 169,
 320,
 449,
 294,
 367,
 464,
 322,
 161,
 73,
 42,
 499,
 245,
 29,
 19,
 217,
 347,
 68,
 193,
 419,
 373,
 160,
 448,
 370,
 196,
 313]